body {
    margin: 0;
    line-height: normal;
}
.sports-and-outdoors-icon {
    position: relative;
    width: 67px;
    height: 67px;
    object-fit: cover;
}
.logo-name {
    position: relative;
    line-height: 24px;
    text-transform: uppercase;
}
.horizontalspacer {
    align-self: stretch;
    flex: 1;
    position: relative;
}
.menu1 {
    position: relative;
    line-height: 24px;
    text-transform: uppercase;
    color: #03a64a;
}
.cheader {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 48px;
}
.header {
    align-self: stretch;
    background-color: #1e1e1e;
    height: 100px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
    box-sizing: border-box;
}
.h1 {
    position: relative;
    white-space: pre-wrap;
}
.champions-league {
    margin: 0;
}
.wed-20-dec {
    margin: 0;
    font-size: 14px;
}
.text {
    align-self: stretch;
    position: relative;
}
.rlogo-icon {
    flex: 1;
    position: relative;
    max-height: 100%;
    width: 46px;
    object-fit: cover;
}
.ttext {
    position: relative;
    line-height: 18px;
}
.team {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.num {
    position: absolute;
    top: 17.12px;
    left: 7px;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13px;
}
.num-wrapper {
    position: relative;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(5, 242, 108, 0.47), #03a64a 50%, rgba(5, 242, 108, 0.47));
    width: 28px;
    height: 53px;
    overflow: hidden;
    flex-shrink: 0;
}
.frame-parent {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-size: 30px;
}
.rlogo-icon1 {
    position: relative;
    width: 69px;
    height: 62px;
    object-fit: cover;
}
.f2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 35px;
    font-size: 15px;
}
.mr {
    flex: 1;
    position: relative;
    font-size: 16px;
    font-family: 'Bebas Neue';
    color: #05f26c;
    text-align: center;
}
.button {
    cursor: pointer;
    border: 1px solid #05f26c;
    padding: 10px 34px;
    background-color: transparent;
    flex: 1;
    border-radius: 32px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.f3 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 35px;
}
.fixture {
    border-radius: 20px;
    background-color: #1e1e1e;
    width: 313px;
    height: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 28px 0px;
    box-sizing: border-box;
}
.rlogo-icon3 {
    position: relative;
    width: 61px;
    height: 62px;
    object-fit: cover;
}
.team3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.rlogo-icon5 {
    position: relative;
    width: 73px;
    height: 62px;
    object-fit: cover;
}
.fixture-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 20px;
    font-family: 'Bebas Neue';
}
.subgroups1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
}
.h11 {
    position: relative;
    font-size: 35px;
    font-family: 'Zen Dots';
    color: #d9d9d9;
    white-space: pre-wrap;
    text-align: center;
}
.text3 {
    position: relative;
}
.header-child {
    align-self: stretch;
    position: relative;
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    width: 1px;
}
.header1 {
    align-self: stretch;
    background-color: #262626;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 49px;
    gap: 17px;
}
.tname {
    flex: 1;
    position: relative;
    text-align: right;
}
.flogo-icon {
    position: relative;
    width: 31.03px;
    height: 40px;
    object-fit: cover;
}
.text-wrapper {
    align-self: stretch;
    background-color: #05f26c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 32px;
    font-size: 20px;
    color: #1e1e1e;
}
.tname1 {
    flex: 1;
    position: relative;
}
.tname-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 38px;
}
.arrow-right-alt-icon {
    position: relative;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.text-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    font-size: 20px;
    color: #05f26c;
}
.frame {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 0px;
    gap: 30px;
    font-size: 30px;
    color: #d9d9d9;
}
.fixture3 {
    border-radius: 20px;
    background-color: #1e1e1e;
    width: 1020px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.flogo-icon2 {
    position: relative;
    width: 37.26px;
    height: 40px;
    object-fit: cover;
}
.flogo-icon4 {
    position: relative;
    width: 35.03px;
    height: 40px;
    object-fit: cover;
}
.flogo-icon6 {
    position: relative;
    width: 45.27px;
    height: 40px;
    object-fit: cover;
}
.flogo-icon8 {
    position: relative;
    width: 44px;
    height: 40px;
    object-fit: cover;
}
.flogo-icon10 {
    position: relative;
    width: 36.54px;
    height: 40px;
    object-fit: cover;
}
.subgroups2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    text-align: left;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Bebas Neue';
}
.subgroups {
    width: 1020px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 70px;
}
.main {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 70px 450px;
    text-align: center;
    font-size: 35px;
    font-family: 'Zen Dots';
}
.footersupporters-icon {
    position: relative;
    width: 120px;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.logos {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 50px 0px;
}
.g-child {
    align-self: stretch;
    position: relative;
    border-top: 2px solid #03a64a;
    box-sizing: border-box;
    height: 2px;
}
.frame-icon {
    flex: 1;
    position: relative;
    max-height: 100%;
    width: 24px;
    object-fit: cover;
}
.presentationlocale-selector-1 {
    align-self: stretch;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.presentationlocale-selector- {
    align-self: stretch;
    width: 33px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 9px 0px 0px;
    box-sizing: border-box;
}
.en {
    position: relative;
    line-height: 16.52px;
    text-transform: uppercase;
    display: inline-block;
    max-height: 16.520000457763672px;
}
.spanlocale-selector-text {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 1.9500007629394531px 0px 0px;
}
.button3 {
    border-radius: 28px;
    background-color: #03a64a;
    width: 123px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
    box-sizing: border-box;
}
.f21-child {
    align-self: stretch;
    position: relative;
    border-right: 1px solid #03a64a;
    box-sizing: border-box;
    width: 1px;
}
.img-you-tube {
    position: relative;
    width: 29px;
    height: 21px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.link {
    width: 29px;
    height: 21px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.item {
    border-radius: 24px;
    background-color: #03a64a;
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 13.5px 9.5px;
    box-sizing: border-box;
}
.img-instagram {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.link1 {
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.item1 {
    border-radius: 24px;
    background-color: #03a64a;
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
    box-sizing: border-box;
}
.img-twitter {
    position: relative;
    width: 29px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.link2 {
    width: 29px;
    height: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.item2 {
    border-radius: 24px;
    background-color: #03a64a;
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 9.5px;
    box-sizing: border-box;
}
.f211 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 682.530029296875px 0px 682.52001953125px;
    gap: 15px;
}
.text33 {
    position: relative;
    font-size: 14.93px;
    letter-spacing: 0.26px;
    line-height: 27px;
    text-transform: uppercase;
}
.text34 {
    position: relative;
    font-size: 14.63px;
    letter-spacing: 0.26px;
    line-height: 27px;
    text-transform: uppercase;
}
.text35 {
    position: relative;
    font-size: 14.73px;
    letter-spacing: 0.26px;
    line-height: 27px;
    text-transform: uppercase;
}
.text36 {
    position: relative;
    letter-spacing: 0.26px;
    line-height: 27px;
    text-transform: uppercase;
}
.text37 {
    position: relative;
    font-size: 14.12px;
    letter-spacing: 0.26px;
    line-height: 27px;
    text-transform: uppercase;
}
.text39 {
    position: relative;
    font-size: 15.54px;
    letter-spacing: 0.26px;
    line-height: 27px;
    text-transform: uppercase;
}
.list {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 15.03px;
    color: #d9d9d9;
}
.f21-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 50px 0px;
    gap: 20px;
}
.g {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.footer {
    align-self: stretch;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 50px;
    font-size: 14px;
    color: #151515;
    font-family: Inter;
}
.fixtues {
    position: relative;
    background-color: #151515;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: 20px;
    color: #d9d9d9;
    font-family: 'Bebas Neue';
}

