.footer {
    align-self: stretch;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 50px;
    font-size: 15px;
}
.f1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.logos {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 50px 0px;
    gap: 30px;
}
.footersupporters-icon {
    position: relative;
    width: 150px;
    height: 50px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    fill: #b4b4b4;
}
.h2container-child {
    align-self: stretch;
    position: relative;
    border-top: 2px solid #03a64a;
    box-sizing: border-box;
    height: 2px;
}
.linkicons-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 50px 0px;
    gap: 20px;
}
.linkicons {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 682.530029296875px 0px 682.52001953125px;
    gap: 15px;
}
.en2 {
    position: relative;
    font-size: 14px;
    line-height: 16.52px;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    color: #151515;
    text-align: left;
    display: inline-block;
    max-height: 16.520000457763672px;
}
.en1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 1.9500007629394531px 0px 0px;
}
.en {
    cursor: pointer;
    border: none;
    padding: 12px;
    background-color: #03a64a;
    border-radius: 25px;
    width: 75px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 10px;
}
.vline {
    align-self: stretch;
    position: relative;
    border-right: 1px solid #03a64a;
    box-sizing: border-box;
    width: 1px;
}
.footericon {
    position: relative;
    width: 23.47px;
    height: 23.99px;
    object-fit: cover;
}
.footeritem {
    cursor: pointer;
    border: none;
    padding: 12px;
    background-color: #03a64a;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.footertext {
    position: relative;
    text-transform: uppercase;
}
.footerlist {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
